
{% load  static  %}

<!DOCTYPE html>
<html lang="en">

<head>

    <style>

        body {
            background-color: lightsteelblue;
        }

    </style>

    <title>Successful</title>

</head>

<body>

<br><br><br><br><br><br><br><br><br>

<center>

    <h1 style="color: black; font-size: 40px;" > YOUR COMPLAINT HAS SUCCESSFULLY SUBMITTED...... </h1>      <br><br>

    <img class="image media" id="image-shycautiousafricanpiedkingfisher" alt="Tick tick GIF" src="https://thumbs.gfycat.com/ShyCautiousAfricanpiedkingfisher-size_restricted.gif" height="250" width="250">

    <br><br><br><br><br><br>

    <a href="logout" style="color: black; font-weight: bolder; font-size: 20px;">Log Out</a>

</center>

</body>
</html>
