
{% load  static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="black">

        <br><br><br><br><br><br><br><br><br>
        <center style="font-size: larger; font-size: 20px;" >
            <a href="/A_show" style="color: #f2f2f2; font-weight: bolder">Air Pollution Complaints</a><br><br><br>
            <a href="/E_show" style="color: #f2f2f2; font-weight: bolder">Electricity Complaints</a><br><br><br>
            <a href="/R_show" style="color: #f2f2f2; font-weight: bolder">Road Construction Complaints</a><br><br><br>
            <a href="/S_show" style="color: #f2f2f2; font-weight: bolder">Sewage & Water Logging Complaints</a><br><br><br>
            <a href="/W_show" style="color: #f2f2f2; font-weight: bolder">Waste Management Complaints</a><br><br><br>

            <br><br><br><br><br><br>

            <a href="logout" style="color: red; font-weight: bolder; font-size: 10px;">

                <img alt="Log_Out" src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/46-512.png" style="width: 50px; height: 50px; ">
                <br>
            <b style="color: red; font-size: 18px;">Log Out</b>
            </a>


        </center>
</body>
</html>